$def with (status_message, data, validator)

$:global_render.header("Evaluate Clusterings", "Evaluate clusterings given in the uploaded csv file.", "evaluate", status_message)
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Instructions</h2>
      <ul class="list-unstyled">
        <li>1. Upload a csv data file on which clusterings are evaluated.</li>
        <li>2. Click submit button.</li>
      </ul>
      <h4>Notes</h4>
      <ul class="list-unstyled">
        <li>Example of an input csv file:</li>
        <img src="/static/SampleEvaluateInput.png" class="img-fluid" alt="Sample Evaluate Input">
      </ul>
    </div>
    <div class="col-sm-6">
      <h2>Input</h2>
      <form method="POST" enctype="multipart/form-data">
        <div class="form-group row">
          <div class="col-sm-4">
            <label for="inputFile" class="col-form-label">Upload file</label>
            <a href="#" data-toggle="tooltip" data-placement="right" data-html="true" data-container="body" title="The input csv file should have 2 + K columns. The first two columns respectively contain ids and human annotations of the data. The next K columns each contains a clustering of the data. Each clustering (3rd column to (2 + K)th column) will be evaluated based on human annotations (2nd column). Human annotations can be in any forms of text."><i class="fas fa-question-circle"></i></a>
          </div>
          <div class="col-sm-8">
            $if validator is not None and not validator['file']:
                <input type="file" class="form-control-file is-invalid" accept=".csv" id="inputFile" name="file">
            $else:
                <input type="file" class="form-control-file is-valid" accept=".csv" id="inputFile" name="file">
            <div class="invalid-feedback">
              Invalid.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
$$(document).ready(function(){
  $$('[data-toggle="tooltip"]').tooltip();
});
</script>