$def with (header, description, active_nav, status_message)

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/">Select a method</a>
  <ul class="navbar-nav">
    $if active_nav is not None and active_nav == "cluster":
        <li class="nav-item active">
    $else:
        <li class="nav-item">
    <a class="nav-link" href="/cluster">Perform Clustering</a>
    </li>
    $if active_nav is not None and active_nav == "evaluate":
        <li class="nav-item active">
    $else:
        <li class="nav-item">
    <a class="nav-link" href="/evaluate">Evaluate Clusterings</a>
    </li>
  </ul>
</nav>
$if status_message is not None:
    $if status_message['status'] == 'success':
        <div class="alert alert-success alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> <br> $:status_message['message'].replace('\n', '<br>')
        </div>
    $elif status_message['status'] == 'failure':
        <div class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Failure!</strong> <br> $:status_message['message'].replace('\n', '<br>')
        </div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">$header</h1>
    $if description is not None:
        <p>$description</p>
  </div>
</div>